﻿@model STAX.Models.User

@{
    ViewData["Title"] = "All Specs";
    var allSpecMasters = (List<STAX.Models.SpecMaster>)ViewBag.AllSpecs;
}

@section Scripts {
    <script type="text/javascript" src="~/js/SpecIndex.js" asp-append-version="true"></script>
}

@section Styles {
    <link rel="stylesheet" href="~/css/specindex.css" asp-append-version="true" />
}

<!--Spec creation modal-->
<div class="modal_back" js-modalVal="2">
    @await Component.InvokeAsync("CreateSpec");
</div>

<p class="index_banner">All Specs</p>

<!--Main Options-->
@if (Model.UserPermissions.CreateSpecLevel != STAX.Models.UserPermissions.CreateSpecLevels.Create_None
    || (Model.UserPermissions.CreateSpecLevel == STAX.Models.UserPermissions.CreateSpecLevels.Create_Capped && Model.UserSpecs.Count < 5))
{
    <div class="index_option" onclick="ToggleModal(2)" title="Create a new Spec of your own.">New Spec</div>
}
<input id="index_search" placeholder="Search." value="" title="Find a Spec using your input." />
<br>

<!--Search radio buttons-->
<table id="index_searchGrouper">
    <tr>
        <td><p>Search By Number</p></td>
        <td><p>Search by CR</p></td>
        <td><p>Search by Title</p></td>
        <td><p>Search by Desc</p></td>
    </tr>
    <tr>
        <td><div js-attrVal="0" class="index_searchOption activeSearch" onclick="SwitchSearchAttr(this)"
                 title="Filter Specs by Spec number."></div></td>
        <td><div js-attrVal="1" class="index_searchOption" onclick="SwitchSearchAttr(this)" 
                 title="Filter Specs by linked CR number"></div></td>
        <td><div js-attrVal="2" class="index_searchOption" onclick="SwitchSearchAttr(this)" 
                 title="Filter Specs by title."></div></td>
        <td><div js-attrVal="3" class="index_searchOption" onclick="SwitchSearchAttr(this)" 
                 title="Filter Specs by description."></div></td>
    </tr>
</table>

<!--Spec listing-->
<table class="index_table">
    <thead>
        <tr class="leadRow">
            <th>Spec Number</th>
            <th>Spec CR</th>
            <th>Title</th>
            <th>Description</th>
            <th>Owner</th>
            <th>Status</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (STAX.Models.SpecMaster thisSpecMaster in allSpecMasters)
        {
            <tr>
                <td js-attrVal="0">@thisSpecMaster.ID</td>
                <td js-attrVal="1">@thisSpecMaster.CrNumber</td>
                <td js-attrVal="2">@thisSpecMaster.SpecName</td>
                <td js-attrVal="3">
                    <div class="index_tableDesc">
                        @thisSpecMaster.SpecDesc
                    </div>
                </td>
                @{String thisActive = thisSpecMaster.CreatorUser.ID == Model.ID ? "enabled" : "disabled";}
                <td>
                    <i class="fas fa-star @thisActive" title="@(thisActive == "enabled" ? "You own this Spec!" : "You do not own this Spec.")"></i>
                </td>
                <td>
                    <div class="index_tablePill @String.Format("status{0}", (int)thisSpecMaster.SpecStatus)">
                        @switch ((int)thisSpecMaster.SpecStatus)
                        {
                            case 0:<p title="This Spec is currently being built.">Construction</p>
                                break;
                            case 1: <p title="This Spec is currently awaiting review by the Development Team.">Await Review</p>
                                break;
                            case 2: <p title="This Spec is currently being reviewed by the Development Team.">In Review</p>
                                break;
                            case 3: <p title="This Spec has passed review and is being used for the build.">In Dev</p>
                                break;
                            case 4: <p title="This Spec has passed review and has been built.">Complete</p>
                                break;
                            case 5: <p title="This Spec is no longer required and has been canned.">Canned</p>
                                break;
                            default: <p title="The status of this Spec is not currently known.">Unknown</p>
                                break;
                        }
                    </div>
                </td>
                <td class="specActive">
                    <!--Link to ViewSpec for this Spec-->
                    <a asp-controller="SpecMaster" asp-action="ViewSpec" asp-route-thisSpecMasterID="@thisSpecMaster.ID" title="View this Spec.">
                        <i class="fas fa-external-link-alt"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
