﻿@model STAX.Models.SpecMaster

<!--Page vars-->
@{
    //Page title
    ViewData["Title"] = String.Format("RTP Spec | {0}", Model.CrNumber);
    bool canEdit = ViewBag.CanEdit;

    //Edit controls, variables
    var itemEnabled = canEdit ? "enabled" : "disabled";
    String[] enabledTitle =
    {
        "Add a condition; use these to determine actions.",
        "Add an operator; use these to combine conditions.",
        "Add a calculation; use these to describe complex logic.",
        "Add a lookup; use these to describe table lookups.",
        "Add an action; use these as a consequence of conditions or operators.",
        "Add a freeform; use these to describe anything not covered by the above.",
        "Add a spacer; use these to make your spec easier to read.",
        "Use this to toggle delete mode (double click to remove items).",
        "Use this to save all changes to your spec (double click to confirm).",
        "Use this to reset your spec completely (double click to confirm).",
        "Add notes to your spec here.",
        "Name your Spec here.",
        "Describe your Spec here."
     };
    String disabledTitle = "You do not have permissions to edit this Spec.";

    //Spec status value
    int statusVal = (int)Model.SpecStatus;
}

@section Scripts {
    <script type="text/javascript" src="~/js/SpecMaster.js" asp-append-version="true"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" asp-append-version="true"></script>
}

@section Styles {
    <link rel="stylesheet" href="~/css/SpecMaster.css" asp-append-version="true" />
}

<!--Updates modal-->
<div class="modal_back" js-modalVal="3">
    @await Component.InvokeAsync("SpecUpdates", Model.ID)
</div>

<!--Spec CR, description-->
<div id="specmaster_titleBanner">
    <p>@String.Format("{0} | {1} {2}", Model.CrNumber, Model.CreatorUser.FirstName, Model.CreatorUser.SecondName)</p>

    <!--Spec name, description-->
    <input id="specmaster_specName" class="@itemEnabled" type="text" value="@Model.SpecName" placeholder="Enter your Spec name here." onchange="SetUnsaved()"
           title="@(canEdit ? enabledTitle[11] : disabledTitle)"/>
    <input id="specmaster_specDesc" class="@itemEnabled" type="text" value="@Model.SpecDesc" placeholder="Enter your Spec description here." onchange="SetUnsaved()"
           title="@(canEdit ? enabledTitle[12] : disabledTitle)"/>
</div>

<!--Spec status-->
<div id="specmaster_statusPill" class="@String.Format("status{0}", (int)Model.SpecStatus)">
    @{
        switch ((int)Model.SpecStatus)
        {
            case 0: <p title="This Spec is currently being built.">Under Construction</p>
                break;
            case 1: <p title="This Spec is currently awaiting review by the Development Team.">Awaiting Review</p>
                break;
            case 2: <p title="This Spec is currently being reviewed by the Development Team">Under Review</p>
                break;
            case 3: <p title="This Spec has passed review and is being used for the build.">In Development</p>
                break;
            case 4: <p title="This Spec has passed review and has been built.">Completed</p>
                break;
            case 5: <p title="This Spec is no longer required and has been canned.">Canned</p>
                break;
            default: <p title="The status of this Spec is not currently known.">Status Unknown</p>
                break;
        }
    }
</div>

<!--Options-->
<div id="specmaster_menuItems">

    <!--Save status-->
    <p id="specmaster_lastSaved" class="menuLabel">Unmodified</p>

    <!--Spec status-->
    <select id="specmaster_statusType" class="menuSelect" onchange="SetUnsaved()" asp-for="@statusVal"
            title="@(canEdit ? "Change the status of this Spec." : disabledTitle)">
        <option value="0" title="Select this if you are still building your spec.">Under Construction</option>
        <option value="1" title="Select this if you have finished building your spec.">Awaiting Review</option>
        <option value="2" title="Select this if you are reviewing this spec.">Under Review</option>
        <option value="3" title="Select this if you are developing this spec.">In Development</option>
        <option value="4" title="Select this if you have completed the build for this spec.">Completed</option>
        <option value="5" title="Select this if this spec is no longer required.">Canned</option>
    </select>

    <!--Add item options-->
    <div class="menuOption condition @itemEnabled" ondblclick="AddSpecItem(0, this)"
         title="@(canEdit ? enabledTitle[0] : disabledTitle)">Add Condition</div>

    <div class="menuOption operator @itemEnabled" ondblclick="AddSpecItem(1, this)"
         title="@(canEdit ? enabledTitle[1] : disabledTitle)">Add Operator</div>

    <div class="menuOption calculation @itemEnabled" ondblclick="AddSpecItem(2, this)"
         title="@(canEdit ? enabledTitle[2] : disabledTitle)">Add Calculation</div>

    <div class="menuOption lookup @itemEnabled" ondblclick="AddSpecItem(3, this)"
         title="@(canEdit ? enabledTitle[3] : disabledTitle)">Add Lookup</div>

    <div class="menuOption action @itemEnabled" ondblclick="AddSpecItem(4, this)"
         title="@(canEdit ? enabledTitle[4] : disabledTitle)">Add Action</div>

    <div class="menuOption freeform @itemEnabled" ondblclick="AddSpecItem(5, this)"
         title="@(canEdit ? enabledTitle[5] : disabledTitle)">Add Freeform</div>

    <div class="menuOption spacer @itemEnabled" ondblclick="AddSpecItem(6, this)"
         title="@(canEdit ? enabledTitle[6] : disabledTitle)">Add Spacer</div>

    <!--Spec main options-->
    <div id="specmaster_toggleDelete" class="menuOption @itemEnabled" ondblclick="ToggleDelete(this)"
         title="@(canEdit ? enabledTitle[7] : disabledTitle)">Delete Mode OFF</div>

    <div class="menuOption @itemEnabled" ondblclick="Reset(this)"
         title="@(canEdit ? enabledTitle[9] : disabledTitle)">Delete All</div>

    <div class="menuOption @itemEnabled" ondblclick="SaveAll(this)"
         title="@(canEdit ? enabledTitle[8] : disabledTitle)">Save Changes</div>

    <div class="menuOption" ondblclick="ToggleModal(3)"
         title="View Spec Updates.">Updates Log</div>
</div>

<!--Spec items-->
<div id="specmaster_specContent">
    <ul id="specmaster_specList" class="sortable" js-specID="@Model.ID" ul class="sortable">
        @{
            if (Model.SpecItems != null) //Only proceed if spec has defined item collection
            {
                //Sort the items and add to the list
                List<STAX.Models.SpecRtpItem> thisSpecContentsSorted = (List<STAX.Models.SpecRtpItem>)Model.SpecItems.OrderBy(specItem => specItem.ItemOrderNumber).ToList();
                foreach (STAX.Models.SpecRtpItem thisSpecRtpItem in thisSpecContentsSorted)
                {
                    //Determine appropriate RTP spec item
                    switch (thisSpecRtpItem.ItemType)
                    {
                        case 0: //Conditional item
                            <li class="specItem condition"
                                js-specItemID="@thisSpecRtpItem.ID" js-specItemType="0"
                                js-specItemText="@thisSpecRtpItem.ItemText" js-optionVal="@thisSpecRtpItem.ItemOption" js-isDeleted="0">
                                <select @itemEnabled>
                                    @await Component.InvokeAsync("SelectItems", 1)
                                </select>
                                <input type="text" value="@thisSpecRtpItem.ItemText" @itemEnabled />
                            </li>
                            break;

                        case 1: //Operator item
                            <li class="specItem operator"
                                js-specItemID="@thisSpecRtpItem.ID" js-specItemType="1"
                                js-specItemText="@thisSpecRtpItem.ItemText" js-optionVal="@thisSpecRtpItem.ItemOption" js-isDeleted="0">
                                <select class="centred" @itemEnabled>
                                    @await Component.InvokeAsync("SelectItems", 2)
                                </select>
                            </li>
                            break;

                        case 2: //Calculation item
                            <li class="specItem calculation"
                                js-specItemID="@thisSpecRtpItem.ID" js-specItemType="2"
                                js-specItemText="@thisSpecRtpItem.ItemText" js-optionVal="@thisSpecRtpItem.ItemOption" js-isDeleted="0">
                                <input class="centred" type="text" value="@thisSpecRtpItem.ItemText" @itemEnabled>
                            </li>
                            break;

                        case 3: //Lookup item
                            <li class="specItem lookup"
                                js-specItemID="@thisSpecRtpItem.ID" js-specItemType="3"
                                js-specItemText="@thisSpecRtpItem.ItemText" js-optionVal="@thisSpecRtpItem.ItemOption" js-isDeleted="0">
                                <input class="centred" type="text" value="@thisSpecRtpItem.ItemText" @itemEnabled>
                            </li>
                            break;

                        case 4: //Action item
                            <li class="specItem action"
                                js-specItemID="@thisSpecRtpItem.ID" js-specItemType="4"
                                js-specItemText="@thisSpecRtpItem.ItemText" js-optionVal="@thisSpecRtpItem.ItemOption" js-isDeleted="0">
                                <select class="centred" @itemEnabled>
                                    @await Component.InvokeAsync("SelectItems", 3)
                                </select>
                            </li>
                            break;

                        case 5: //Freeform item
                            <li class="specItem freeform"
                                js-specItemID="@thisSpecRtpItem.ID" js-specItemType="5"
                                js-specItemText="@thisSpecRtpItem.ItemText" js-optionVal="@thisSpecRtpItem.ItemOption" js-isDeleted="0">
                                <input class="centred" type="text" value="@thisSpecRtpItem.ItemText" @itemEnabled />
                            </li>
                            break;

                        case 6: //Spacer item
                            <li class="specItem spacer"
                                js-specItemID="@thisSpecRtpItem.ID" js-specItemType="6"
                                js-specItemText="@thisSpecRtpItem.ItemText" js-optionVal="@thisSpecRtpItem.ItemOption" js-isDeleted="0">
                            </li>
                            break;
                        default: //Error - item type outside range
                            <li class="specItem error"
                                js-specItemID="@thisSpecRtpItem.ID" js-specItemType="-1"
                                js-specItemText="@thisSpecRtpItem.ItemText" js-optionVal="@thisSpecRtpItem.ItemOption" js-isDeleted="0">
                                <p class="centred">An error occured loading this item: Please try again later.</p>
                            </li>
                            break;
                    }
                }
            }
        }
    </ul>
</div>

<!--Note text content-->
<div id="specmaster_notesContent" class="@itemEnabled" contenteditable="@canEdit.ToString().ToLower()" js-optionVal="0" onchange="SetUnsaved()"
     title="@(canEdit ? enabledTitle[10] : disabledTitle)">
    @Model.SpecNotes
</div>




