<!--Page Vars-->
@{
    ViewData["Title"] = "All Users";
    var allUsers = ViewBag.AllUsers;
}

@section Scripts {
    <script type="text/javascript" src="~/js/ManageUsers.js" asp-append-version="true"></script>
}

@section Styles {
    <link rel="stylesheet" href="~/css/ManageUsers.css" asp-append-version="true" />
}

<p class="manage_banner">All Users</p>

<!--User listing-->
<table class="manage_table">
    <thead>
        <tr class="leadRow">
            <th>Name</th>
            <th>Spec<br/>Creation</th>
            <th>Spec<br/>Edits</th>
            <th>Special<br/>Access</th>
            <th>Message<br/>Access</th>
            <th>Save</th>
        </tr>
    </thead>
    <tbody>
        @foreach (STAX.Models.User thisUser in allUsers)
        {
            //Permissions values
            int[] permVals =
            {
                (int)thisUser.UserPermissions.CreateSpecLevel,
                (int)thisUser.UserPermissions.EditSpecLevel,
                (int)thisUser.UserPermissions.SpecialAccessLevel,
                (int)thisUser.UserPermissions.CreateSpecLevel
            };

            <tr>
                <input id="perms_userID" type="hidden" value="@thisUser.ID"/>
                <td>
                    <!--User identification-->
                    @thisUser.FirstName
                    <br />
                    @thisUser.SecondName
                </td>
                <td>
                    <!--Spec creation perms-->
                    <select id="perms_createSpec" asp-for="@permVals[0]"
                        title="This user's ability to create Specs.">@await Component.InvokeAsync("SelectItems", 4)</select>
                </td>
                <td>
                    <!--Spec edit perms-->
                    <select id="perms_editSpec" asp-for="@permVals[1]"
                        title="This user's ability to edit Specs.">@await Component.InvokeAsync("SelectItems", 5)</select>
                </td>
                <td>
                    <!--Special access perms-->
                    <select id="perms_specialAccess" asp-for="@permVals[2]"
                        title="This user's ability to access special options.">@await Component.InvokeAsync("SelectItems", 6)</select>
                </td>
                <td>
                    <!--Message access perms-->
                    <select id="perms_messageAccess" asp-for="@permVals[3]"
                        title="This user's ability to use Stax messaging.">@await Component.InvokeAsync("SelectItems", 7)</select>
                </td>
                <td>
                    <!--Save perms for this user-->
                    <i class="fas fa-check" onclick="SavePermissions()"
                       title="Save this user's permissions."></i>
                </td>
            </tr>
        }
    </tbody>
</table>