﻿@{
    ViewData["Title"] = "Home";
}

@section Scripts {
    <script type="text/javascript" src="~/js/Home.js" asp-append-version="true"></script>
}

@section Styles {
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true"/>
}

<!--Minimal content required here.-->
<div class="home_banner">
    <p>Welcome to Stax</p>
</div>

<div class="home_body">
    <p>Select an option to begin.</p>
</div>