@model STAX.Models.User

@section Scripts {
    <script type="text/javascript" src="~/js/Dashboard.js" asp-append-version="true"></script>
}

@section Styles {
    <link rel="stylesheet" href="~/css/Dashboard.css" asp-append-version="true" />
}

@{
    ViewData["Title"] = "Dashboard";
}

<p class="dash_banner">Dashboard</p>

<!--Tabbed menu-->
<div class="dash_menu">
    <div class="tabOption selected" js-optionVal="0" onclick="SwitchTab(this)">Activity</div>
    <div class="tabOption" js-optionVal="1" onclick="SwitchTab(this)">Spec Management</div>
    <div class="tabOption" js-optionVal="2" onclick="SwitchTab(this)">User Management</div>
    <div class="tabOption" js-optionVal="3" onclick="SwitchTab(this)">Data</div>
</div>

<!--Tabbed content-->
<div class="dash_content">
    @await Component.InvokeAsync("ActivityWidget")

    @await Component.InvokeAsync("SpecManageWidget")

    @await Component.InvokeAsync("UserManageWidget")

    @await Component.InvokeAsync("DataWidget")
</div>