﻿@model STAX.Models.User

<!--PREFERENCES-->

<!--Main modal content-->
<div class="modal_fore">
    <p class="mainHeader">Options and Preferences</p>

    <!--User Details-->
    <!--First, second names-->
    <p class="subHeader">Display Name</p>
    <input id="pref_firstName" type="text" placeholder="First Name" title="Enter your preferred first name here." value="@Model.FirstName">
    <input id="pref_secondName" type="text" placeholder="Second Name" title="Enter your preferred second name here." value="@Model.SecondName">

    <!--Team-->
    <p class="subHeader">Team</p>
    <select id="pref_teamName" asp-for="@Model.TeamName">
        @await Component.InvokeAsync("SelectItems", 0);
    </select>
    <br />

    <!--Animations toggle-->
    <p class="subHeader">Site Animations</p>
    <div id="pref_Anims" class="modal_switch" js-switchVal="@Model.UserPreferences.SiteAnimations" title="Click to toggle.">
        <div class="switchLeft @String.Format("switch{0}", !Model.UserPreferences.SiteAnimations)"></div>
        <div class="switchRight @String.Format("switch{0}", Model.UserPreferences.SiteAnimations)">
            <div class="switchPip @String.Format("pip{0}", Model.UserPreferences.SiteAnimations)"></div>
        </div>
    </div>
    <p>
        Toggle non-essential site animations on/off.
    </p>

    <!--Messages toggle-->
    <p class="subHeader">Disable Messages</p>
    <div id="pref_Messages" class="modal_switch" js-switchVal="@Model.UserPreferences.DisableMessages" title="Click to toggle.">
        <div class="switchLeft @String.Format("switch{0}", !Model.UserPreferences.DisableMessages)"></div>
        <div class="switchRight @String.Format("switch{0}", Model.UserPreferences.DisableMessages)">
            <div class="switchPip @String.Format("pip{0}", Model.UserPreferences.DisableMessages)"></div>
        </div>
    </div>
    <p>
        Toggle non-essential system messages on/off.
    </p>

    <!--Submission-->
    <div class="modal_option" onclick="SavePrefs()" title="Save Changes">Save</div>
</div>