<!--DATA WIDGET-->

@model STAX.Data.DataWidgetData

@{ 
    int totalSpecs = Model.allSpecs.Count();
    int completedSpecs = Model.allSpecs.Where(specMaster => specMaster.SpecStatus == SpecMaster.SpecStatusTypes.Complete).Count();
    double specCompletion = completedSpecs != 0 ? (totalSpecs / completedSpecs) : 0;
}

<div class="widget" js-optionVal="3">

    <!--Spec Data-->
    <p class="subtitle">Spec Stats</p>
    <p>@String.Format("{0} Created, {1} Completed ({2}% Completion Rate)", totalSpecs, completedSpecs, specCompletion)</p>
    <table class="statTable">
        <tr>
            <th>In Build</th>
            <th>Await Review</th>
            <th>In Review</th>
            <th>Dev Build</th>
            <th>Complete</th>
            <th>Canned</th>
        </tr>
        <tr>
            <!--Specs counts by status-->
            <td><div class="statRing specBuild">@Model.allSpecs.Where(specMaster => specMaster.SpecStatus == SpecMaster.SpecStatusTypes.In_Spec_Build).Count()</div></td>
            <td><div class="statRing awaitDevRev">@Model.allSpecs.Where(specMaster => specMaster.SpecStatus == SpecMaster.SpecStatusTypes.Await_Development_Review).Count()</div></td>
            <td><div class="statRing inDevRev">@Model.allSpecs.Where(specMaster => specMaster.SpecStatus == SpecMaster.SpecStatusTypes.In_Development_Review).Count()</div></td>
            <td><div class="statRing inDevBuild">@Model.allSpecs.Where(specMaster => specMaster.SpecStatus == SpecMaster.SpecStatusTypes.In_Development_Process).Count()</div></td>
            <td><div class="statRing complete">@Model.allSpecs.Where(specMaster => specMaster.SpecStatus == SpecMaster.SpecStatusTypes.Complete).Count()</div></td>
            <td><div class="statRing canned">@Model.allSpecs.Where(specMaster => specMaster.SpecStatus == SpecMaster.SpecStatusTypes.Canned).Count()</div></td>
        </tr>
    </table>

    <!--User Data-->
    <p class="subtitle">User Stats</p>
    <p>@String.Format("{0} Users, {1} Active", Model.allUsers.Count(), Model.allUsers.Where(user => user.IsActive).Count())</p>

    <br>

    <!--Message Data-->
    <p class="subtitle">Message Stats</p>
    <p>@String.Format("{0} Messages, {1} Hidden", Model.allMessages.Count(), Model.allMessages.Where(message => message.MessageVisible).Count())</p>
</div>