<!--MANAGE SPEC WIDGET-->

@model List<STAX.Models.SpecMaster>

<div class="widget" js-optionVal="1">
    <p class="title">Manage Specifications</p>
    <table class="listTable">
        <thead>
            <tr class="leadRow">
                <th>ID</th>
                <th>CR Title</th>
                <th>Status</th>
                <th>Hidden</th>
            </tr>
        </thead>
        <tbody>
            @foreach (SpecMaster thisSpecMaster in Model)
            {
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        }
            </tbody>
        </table>
    </div>