﻿@model STAX.Models.User

<!--Render username on menu bar-->
<p>Welcome, @(Model.FirstName.Length > 1 ? Model.FirstName : "User")</p>

<!--Global user preferences-->
<input id="globalPrefs_doAnims" type="hidden" value="@Model.UserPreferences.SiteAnimations.ToString()" />

<!--Global user permissions-->
<input id="globalPerms_createSpec" type="hidden" value="@Model.UserPermissions.CreateSpecLevel" />
<input id="globalPerms_editSpec" type="hidden" value="@Model.UserPermissions.EditSpecLevel" />
<input id="globalPerms_specialAccess" type="hidden" value="@Model.UserPermissions.SpecialAccessLevel" />
<input id="globalPerms_messageAccess" type="hidden" value="@Model.UserPermissions.MessageAccessLevel" />
