﻿<!--CREATE SPEC-->

<!--Main modal content-->
<div class="modal_fore">
    <p class="mainHeader">Create Spec</p>

    <form asp-controller="SpecMaster" asp-action="CreateSpec" asp-method="post">
        <p class="subHeader">Evo CR Number</p>
        <input type="text" name="thisCrNumber" placeholder="Enter an associated Evo CR Number." />

        <p class="subHeader">Name</p>
        <input type="text" name="thisSpecName" placeholder="Enter a name for your Spec." />

        <p class="subHeader">Description</p>
        <input type="text" name="thisSpecDesk" placeholder="Describe your Spec." />
        
        <div class="modal_spacer"></div>
        <div class="modal_option" title="Create Spec" onclick="SubmitForm(this)">Create</div>
    </form>
</div>