﻿@{
    //Non-model reliant select options generation
    switch (ViewBag.Type)
    {
        case 0: //Preferences - Team Options
            <option value="Change">Change</option>
            <option value="Commercial">Commercial</option>
            <option value="Development">Development</option>
            <option value="Finance">Finance</option>
            <option value="UAT">UAT</option>
            <option disabled>Unassigned</option>
            break;

        case 1: //Spec item options - Conditional item
            <option js-optionVal="0" selected disabled>Select a Condition</option>
            <option js-optionVal="1">If</option>
            <option js-optionVal="2">If Not</option>
            break;

        case 2: //Spec item options - Operator item
            <option class="centred" js-optionVal="0" selected disabled>Select an Operator</option>
            <option js-optionVal="1">And</option>
            <option js-optionVal="2">Or</option>
            <option js-optionVal="3">Otherwise</option>
            break;

        case 3: //Spec item options - Action item
            <option class="centred" js-optionVal="0" selected disabled>Select an Action</option>
            <option js-optionVal="1">No Quote / Decline</option>
            <option js-optionVal="2">Add Item:</option>
            <option js-optionVal="3">Remove Item:</option>
            <option js-optionVal="4">Adjust Premium:</option>
            <option js-optionVal="5">Adjust Commission:</option>
            break;

        case 4: //Manage users - spec creation permissions
            <option value="0" title="User cannot create specs.">Create None</option>
            <option value="1" title="User can create specs, up to a limit.">Create Some</option>
            <option value="2" title="User can create specs, up to an infinite amount.">Create Any</option>
            break;

        case 5: //Manage users - spec editing permissions
            <option value="0" title="User can only edit their specs.">Edit Own</option>
            <option value="1" title="User can edit any spec.">Edit All</option>
            break;

        case 6: //Manage users - special permissions
            <option value="0" title="User has no special option access.">No Special Access</option>
            <option value="1" title="User has complete special option access.">Special Access</option>
            break;

        case 7: //Manage users - message permissions
            <option value="0" title="User can only read and delete their messages.">Read Only</option>
            <option value="1" title="User can read, delete and send messages.">Read And Send</option>
            break;

        default: //Fallback
            <option selected disabled>Something went wrong! Please refresh the page, or try again later.</option>
            break;
    }
}