<!--MANAGE USER WIDGET-->

@model List<STAX.Models.User>

<div class="widget" js-optionVal="2">
    <p class="title">Manage Users</p>
    <table class="listTable">
        <thead>
            <tr class="leadRow">
                <th>ID</th>
                <th>Name</th>
                <th>Permissions</th>
                <th>Update</th>
            </tr>
        </thead>
        <tbody>
            @foreach (User thisUser in Model)
            {
                <tr>
                    <td>
                        <!--ID-->
                        <input type="hidden" class="userData_userID" value="@thisUser.ID"/>
                        @thisUser.ID
                    </td>
                    <td>
                        <!--Naming-->
                        <input class="userData_userFirstName" type="text" value="@thisUser.FirstName" placeholder="Enter a first name." title="User's first name." />
                        <input class="userData_userSecondName" type="text" value="@thisUser.SecondName" placeholder="Enter a second name." title="User's second name." />
                    </td>
                    <td>
                        <!--Spec creation perms-->
                        <select class="userData_userCreatePerms extendedLength" id="perms_createSpec" asp-for="@thisUser.UserPermissions.CreateSpecLevel"
                        title="This user's ability to create Specs.">
                            @await Component.InvokeAsync("SelectItems", 4)
                        </select>

                        <!--Spec edit perms-->
                        <select class="userData_userEditPerms extendedLength" id="perms_editSpec" asp-for="@thisUser.UserPermissions.EditSpecLevel"
                        title="This user's ability to edit Specs.">
                            @await Component.InvokeAsync("SelectItems", 5)
                        </select>

                        <!--Special access perms-->
                        <select class="userData_userSpecialPerms extendedLength" id="perms_specialAccess" asp-for="@thisUser.UserPermissions.SpecialAccessLevel"
                        title="This user's ability to access special options.">
                            @await Component.InvokeAsync("SelectItems", 6)
                        </select>

                        <!--Message access perms-->
                        <select class="userData_userMessagePerms extendedLength" id="perms_messageAccess" asp-for="@thisUser.UserPermissions.MessageAccessLevel"
                        title="This user's ability to use Stax messaging.">
                            @await Component.InvokeAsync("SelectItems", 7)
                        </select>
                        </td>
                    <td>
                        <!--Confirm and update-->
                        <i class="fas fa-check" onclick=""
                           title="Save changes to this user."></i>
                    </td>
                </tr>
            }
        </tbody>
    </table> 
</div>