﻿@model STAX.Models.User

<!--VARS-->
@{
    List<STAX.Models.Message> allMessages = ViewBag.AllMessages;
    List<STAX.Models.User> allUsers = ViewBag.AllUsers;
}

<!--MESSAGES-->

<!--Main modal content-->
<div class="modal_fore">
    <p class="mainHeader">Messages</p>

    <!--Inbox Listing-->
    <div class="modal_multiPane" js-paneVal="0">
        <p class="subHeader" id="messages_lastUpdate">@String.Format("Inbox (Last Updated: {0})", DateTime.Now.ToShortTimeString())</p>
        <div id="messages_inbox" class="modal_scroller">
            @foreach (STAX.Models.Message thisMessage in allMessages)
            {
                var senderText = thisMessage.SystemMessage ? "From: System" : String.Format("{0} {1}", thisMessage.SenderUser.FirstName, thisMessage.SenderUser.SecondName);
                <div class="scrollItem">
                    <p class="header">Title: @thisMessage.MessageTitle</p>
                    <p class="header">From: @senderText</p>
                    <p class="header">Received: @String.Format("{0} at {1}", thisMessage.MessageSent.ToShortDateString(), thisMessage.MessageSent.ToShortTimeString())</p>
                    <p class="header">Expires: @thisMessage.GetMessageExpiryDate()</p>
                    <p>@thisMessage.MessageContent</p>
                    <br>
                    <div class="modal_option" title="Delete Message" js-messageID="@thisMessage.ID" onclick="DeleteMessage(this)">Delete</div>
                </div>
            }
        </div>
        <div class="modal_option" onclick="RetrieveMessages()" title="Refresh Inbox">Refresh</div>
    </div>

    <!--Message Composure-->
    <div class="modal_multiPane" js-paneVal="1">
        <form asp-controller="Message" asp-action="Create">
            <p class="subHeader">Compose</p>
            <br>
            <p class="subHeader">Send To</p>
            <select id="messages_targetInput">
                @foreach (STAX.Models.User thisUser in allUsers)
                {
                    <option value="@thisUser.ID">@String.Format("{0} {1}", thisUser.FirstName, thisUser.SecondName)</option>
                }
            </select>
            <p class="subHeader">Message Title</p>
            <input id="messages_titleInput" type="text" placeholder="Your message title." />

            <p class="subHeader">Message Content</p>
            <input id="messages_contentInput" type="text" placeholder="Your message text." />

            <div class="modal_option" title="Send Message" onclick="SendMessage()">Send</div>
        </form>
    </div>

    <!--Main options-->
    <br>
    <div class="modal_option" js-paneVal="0" onclick="SwitchPane(this)" title="View Messages">Inbox</div>
    @if(Model.UserPermissions.MessageAccessLevel == STAX.Models.UserPermissions.MessageAccessLevels.Read_And_Send)
    {
        <!--Gated access for message composition-->
        <div class="modal_option" js-paneVal="1" onclick="SwitchPane(this)" title="Write a Message">Compose</div>
    }
</div>