﻿@model STAX.Models.SpecMaster

<!--SPEC UPDATES-->

<!--Main modal content-->
<div class="modal_fore">
    <p class="mainHeader">Spec Updates</p>

    <!--Updates Listing-->
    <p class="subHeader">Activity Log</p>
    <div id="specUpdates_content" class="modal_scroller">
        @{ 
            List<STAX.Models.SpecUpdateItem> theseSpecUpdatesSorted = Model.SpecUpdateItems
                .OrderByDescending(specUpdateItem => specUpdateItem.CreationDate)
                .ToList();
        }
        @foreach (STAX.Models.SpecUpdateItem thisSpecUpdateItem in theseSpecUpdatesSorted)
        {
            <div class="scrollItem">
                <p class="header">@thisSpecUpdateItem.Content</p>
                <hr/>
                <p>@Html.Raw(thisSpecUpdateItem.ChangeLog)</p>
            </div>
        }
    </div>

    <!--Update submission-->
    <p class="subHeader">Add an Update</p>
    <input type="hidden" name="thisUpdateSpecID" value="@Model.ID"/>
    <input id="specUpdate_updateContent" type="text" name="thisUpdateContent" placeholder="Enter your update content here." />
    <br/>
    <div class="modal_option" title="Add a manual update." onclick="AddSpecUpdateItem()">Add Update</div>
</div>