﻿.dash_banner {
  width: 100%;
  margin-top: 5%;
  overflow-y: auto;
  text-align: center;
  user-select: none;
  color: black;
  font-family: "Fjalla One";
  font-size: 80px;
  transition: 0.2s; }
  .dash_banner p {
    margin: 0; }

.dash_menu {
  width: 100%;
  height: auto;
  display: block;
  overflow-y: auto;
  font-family: "Open Sans";
  text-align: center;
  user-select: none; }
  .dash_menu .tabOption {
    width: 25%;
    height: 30px;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #1e1e1e;
    color: white;
    font-size: 16px;
    line-height: 30px;
    background-color: #1e1e1e;
    color: white;
    transition: 0.2s; }
    .dash_menu .tabOption:hover {
      color: #ff8c1a;
      background-color: #555555;
      cursor: pointer; }
    .dash_menu .tabOption.selected {
      background-color: #555555;
      color: #ff8c1a; }

.dash_content {
  width: 100%;
  height: 600px;
  display: block;
  border: 1px solid gainsboro; }
  .dash_content .widget {
    height: auto;
    width: 100%;
    display: none;
    float: left;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    padding-left: 10px;
    padding-right: 10px;
    color: #7d7d7d;
    font-family: "Quicksand Regular";
    text-align: center;
    user-select: none; }
    .dash_content .widget.selected {
      display: block; }
    .dash_content .widget p.title,
    .dash_content .widget p.subtitle {
      width: 100%;
      height: auto;
      margin-top: 5px;
      margin-bottom: 5px;
      color: black;
      font: "Fjalla One";
      font-weight: 700; }
    .dash_content .widget p.title {
      font-size: 18px;
      line-height: 18px;
      cursor: pointer; }
    .dash_content .widget p.subtitle {
      font-size: 14px; }
    .dash_content .widget table.listTable,
    .dash_content .widget table.statTable {
      display: block;
      margin: auto;
      margin-top: 2.5%;
      margin-bottom: 2.5%; }
      .dash_content .widget table.listTable tbody::-webkit-scrollbar,
      .dash_content .widget table.statTable tbody::-webkit-scrollbar {
        z-index: 100;
        width: 2px;
        cursor: pointer !important;
        transition: 0.2s; }
      .dash_content .widget table.listTable tbody::-webkit-scrollbar-thumb,
      .dash_content .widget table.statTable tbody::-webkit-scrollbar-thumb {
        background-color: #e67300; }
      .dash_content .widget table.listTable tbody::-webkit-scrollbar-track,
      .dash_content .widget table.statTable tbody::-webkit-scrollbar-track {
        background-color: #1e1e1e; }
      .dash_content .widget table.listTable tbody::-webkit-scrollbar-thumb:hover,
      .dash_content .widget table.statTable tbody::-webkit-scrollbar-thumb:hover {
        background-color: #ff8c1a; }
      .dash_content .widget table.listTable i,
      .dash_content .widget table.statTable i {
        color: #ff8c1a;
        transition: 0.2s; }
        .dash_content .widget table.listTable i:hover,
        .dash_content .widget table.statTable i:hover {
          color: #e67300; }
        .dash_content .widget table.listTable i.disabled,
        .dash_content .widget table.statTable i.disabled {
          color: #7d7d7d !important; }
    .dash_content .widget table.statTable {
      width: fit-content; }
      .dash_content .widget table.statTable th {
        text-align: center !important; }
    .dash_content .widget table.listTable {
      border: 1px solid gainsboro; }
      .dash_content .widget table.listTable tbody {
        height: 450px;
        display: block;
        overflow-y: scroll; }
      .dash_content .widget table.listTable th,
      .dash_content .widget table.listTable td {
        width: 250px !important;
        text-align: center;
        padding: 5px !important;
        word-break: break-word; }
      .dash_content .widget table.listTable th {
        font-family: "Titillium Web Regular";
        font-size: 16px; }
      .dash_content .widget table.listTable td {
        color: #7d7d7d;
        font-family: "Quicksand Regular";
        font-size: 14px; }
        .dash_content .widget table.listTable td.descField {
          width: 500px; }
      .dash_content .widget table.listTable tr {
        height: 30px;
        overflow-x: hidden;
        transition: 0.2s;
        border-top: 1px solid gainsboro;
        border-bottom: 1px solid gainsboro; }
        .dash_content .widget table.listTable tr:hover {
          border-top: 1px solid #ff8c1a;
          border-bottom: 1px solid #ff8c1a; }
        .dash_content .widget table.listTable tr.leadRow {
          background-color: #1e1e1e !important;
          color: #ff8c1a !important;
          user-select: none;
          border-top: none !important;
          border-bottom: none !important; }
      .dash_content .widget table.listTable tr:nth-child(even) {
        background-color: #c8c8c8; }
      .dash_content .widget table.listTable tr:nth-child(odd) {
        background-color: white; }
      .dash_content .widget table.listTable input,
      .dash_content .widget table.listTable select {
        width: 125px;
        display: block;
        margin: auto;
        text-align: center; }
        .dash_content .widget table.listTable input.extendedLength,
        .dash_content .widget table.listTable select.extendedLength {
          width: 150px; }
    .dash_content .widget .statRing {
      width: 40px;
      height: 40px;
      display: block;
      margin: auto;
      margin: 5px;
      margin-left: 20px;
      margin-right: 20px;
      border-radius: 50%;
      font-size: 16px;
      line-height: 35px;
      transition: 0.2s; }
      .dash_content .widget .statRing.specBuild {
        border: 3px solid #999999; }
        .dash_content .widget .statRing.specBuild:hover {
          border: 3px solid #a8a8a8; }
      .dash_content .widget .statRing.awaitDevRev {
        border: 3px solid #1a8cff; }
        .dash_content .widget .statRing.awaitDevRev:hover {
          border: 3px solid #299bff; }
      .dash_content .widget .statRing.inDevRev {
        border: 3px solid #ffcc00; }
        .dash_content .widget .statRing.inDevRev:hover {
          border: 3px solid #ffdb0f; }
      .dash_content .widget .statRing.inDevBuild {
        border: 3px solid #ff8c1a; }
        .dash_content .widget .statRing.inDevBuild:hover {
          border: 3px solid #ff9b29; }
      .dash_content .widget .statRing.complete {
        border: 3px solid #66cc00; }
        .dash_content .widget .statRing.complete:hover {
          border: 3px solid #75db0f; }
      .dash_content .widget .statRing.canned {
        border: 3px solid #990000; }
        .dash_content .widget .statRing.canned:hover {
          border: 3px solid #a80f0f; }
