﻿//IMPORTS
@import 'Styles.scss';

//CONTAINERS
.dash_banner {
    width: 100%;
    margin-top: 5%;
    overflow-y: auto;
    text-align: center;
    user-select: none;
    color: rgb(0,0,0);
    font-family: $site_headerFont;
    font-size: 80px;
    transition: 0.2s;

    p {
        margin: 0;
    }
}

.dash_menu {
    width: 100%;
    height: auto;
    display: block;
    overflow-y: auto;
    font-family: $site_optionFont;
    text-align: center;
    user-select: none;

    .tabOption {
        width: 25%;
        height: 30px;
        float: left;
        padding-left: 15px;
        padding-right: 15px;
        background-color: $site_darkGrey;
        color: rgb(255,255,255);
        font-size: 16px;
        line-height: 30px;
        @include mix_tab_interactive;

        &.selected {
            background-color: $site_darkGrey + 55;
            color: $site_alertOrange;
        }
    }
}

.dash_content {
    width: 100%;
    height: 600px;
    display: block;
    border: 1px solid $site_borderGrey;

    .widget {
        height: auto;
        width: 100%;
        display: none;
        float: left;
        margin-top: 2.5%;
        margin-bottom: 2.5%;
        padding-left: 10px;
        padding-right: 10px;
        color: $site_medGrey;
        font-family: $site_bodyFont;
        text-align: center;
        user-select: none;

        &.selected {
            display: block;
        }

        p.title,
        p.subtitle {
            width: 100%;
            height: auto;
            margin-top: 5px;
            margin-bottom: 5px;
            color: rgb(0,0,0);
            font: $site_headerFont;
            font-weight: 700;
        }

        p.title {
            font-size: 18px;
            line-height: 18px;
            cursor: pointer;
        }

        p.subtitle {
            font-size: 14px;
        }

        table.listTable,
        table.statTable {
            display: block;
            margin: auto;
            margin-top: 2.5%;
            margin-bottom: 2.5%;

            tbody::-webkit-scrollbar {
                z-index: 100;
                width: 2px;
                cursor: pointer !important;
                transition: 0.2s;
            }

            tbody::-webkit-scrollbar-thumb {
                background-color: $site_alertOrangeHover;
            }

            tbody::-webkit-scrollbar-track {
                background-color: $site_darkGrey;
            }

            tbody::-webkit-scrollbar-thumb:hover {
                background-color: $site_alertOrange;
            }

            i {
                color: $site_alertOrange;
                transition: 0.2s;

                &:hover {
                    color: $site_alertOrangeHover;
                }

                &.disabled {
                    color: $site_medGrey !important;
                }
            }
        }

        table.statTable {
            width: fit-content;

            th {
                text-align: center !important;
            }
        }

        table.listTable {
            border: 1px solid $site_borderGrey;

            tbody {
                height: 450px;
                display: block;
                overflow-y: scroll;
            }

            th,
            td {
                width: 250px !important;
                text-align: center;
                padding: 5px !important;
                word-break: break-word;
            }

            th {
                font-family: $site_navFont;
                font-size: 16px;
            }

            td {
                color: $site_medGrey;
                font-family: $site_bodyFont;
                font-size: 14px;

                &.descField {
                    width: 500px;
                }
            }

            tr {
                height: 30px;
                overflow-x: hidden;
                transition: 0.2s;
                border-top: 1px solid $site_borderGrey;
                border-bottom: 1px solid $site_borderGrey;

                &:hover {
                    border-top: 1px solid $site_alertOrange;
                    border-bottom: 1px solid $site_alertOrange;
                }

                &.leadRow {
                    background-color: $site_darkGrey !important;
                    color: $site_alertOrange !important;
                    user-select: none;
                    border-top: none !important;
                    border-bottom: none !important;
                }
            }

            tr:nth-child(even) {
                background-color: $site_lightGrey;
            }

            tr:nth-child(odd) {
                background-color: rgb(255,255,255);
            }

            input,
            select {
                width: 125px;
                display: block;
                margin: auto;
                text-align: center;

                &.extendedLength {
                    width: 150px;
                }
            }
        }

        .statRing {
            width: 40px;
            height: 40px;
            display: block;
            margin: auto;
            margin: 5px;
            margin-left: 20px;
            margin-right: 20px;
            border-radius: 50%;
            font-size: 16px;
            line-height: 35px;
            transition: 0.2s;

            &.specBuild {
                border: 3px solid $site_pillGrey;

                &:hover {
                    border: 3px solid $site_pillGrey + rgb(15,15,15);
                }
            }

            &.awaitDevRev {
                border: 3px solid $site_pillBlue;

                &:hover {
                    border: 3px solid $site_pillBlue + rgb(15,15,15);
                }
            }

            &.inDevRev {
                border: 3px solid $site_pillYellow;

                &:hover {
                    border: 3px solid $site_pillYellow + rgb(15,15,15);
                }
            }

            &.inDevBuild {
                border: 3px solid $site_pillOrange;

                &:hover {
                    border: 3px solid $site_pillOrange + rgb(15,15,15);
                }
            }

            &.complete {
                border: 3px solid $site_pillGreen;

                &:hover {
                    border: 3px solid $site_pillGreen + rgb(15,15,15);
                }
            }

            &.canned {
                border: 3px solid $site_pillRed;

                &:hover {
                    border: 3px solid $site_pillRed + rgb(15,15,15);
                }
            }
        }
    }
}

//SCALING

//MISC
