﻿//Home page styling

//IMPORTS
@import 'Styles.scss';

//CONTAINERS
.home_banner, 
.home_body {
    width: 100%;
    overflow-y: auto;
    text-align: center;
    user-select: none;

    p {
        margin: 0;
    }
}

.home_banner {
    margin-top: 25%;
    color: rgb(0,0,0);
    font-family: $site_headerFont;
    font-size: 80px;
    transition: 0.2s;

    &.highlight {
        color: $site_alertOrange;
        font-size: 90px;
    }
}

.home_body {
    margin-top: 50px;
    color: $site_borderGrey;
    font-family: $site_bodyFont;
    font-size: 40px;
    transition: 0.2s;

    &:hover {
        color: $site_borderGrey + 20;
    }
}
