﻿.home_banner,
.home_body {
  width: 100%;
  overflow-y: auto;
  text-align: center;
  user-select: none; }
  .home_banner p,
  .home_body p {
    margin: 0; }

.home_banner {
  margin-top: 25%;
  color: black;
  font-family: "Fjalla One";
  font-size: 80px;
  transition: 0.2s; }
  .home_banner.highlight {
    color: #ff8c1a;
    font-size: 90px; }

.home_body {
  margin-top: 50px;
  color: gainsboro;
  font-family: "Quicksand Regular";
  font-size: 40px;
  transition: 0.2s; }
  .home_body:hover {
    color: #f0f0f0; }

