﻿#manage_search,
.manage_option {
  width: 50%;
  height: 30px;
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid gainsboro;
  text-align: center;
  outline-width: 0;
  font-family: "Quicksand Regular";
  line-height: 30px;
  transition: 0.2s; }
  #manage_search:hover,
  .manage_option:hover {
    border: 1px solid #ff8c1a; }

.manage_option {
  margin-top: 10%;
  cursor: pointer; }

.manage_banner {
  width: 100%;
  margin-top: 5%;
  overflow-y: auto;
  text-align: center;
  user-select: none;
  color: black;
  font-family: "Fjalla One";
  font-size: 80px;
  transition: 0.2s; }
  .manage_banner p {
    margin: 0; }

.manage_table {
  width: auto;
  display: block;
  margin: auto;
  margin-top: 5%;
  border: 1px solid gainsboro; }
  .manage_table tbody {
    height: 350px;
    display: block;
    overflow-y: scroll; }
  .manage_table tbody::-webkit-scrollbar {
    z-index: 100;
    width: 2px;
    cursor: pointer !important;
    transition: 0.2s; }
  .manage_table tbody::-webkit-scrollbar-thumb {
    background-color: #e67300; }
  .manage_table tbody::-webkit-scrollbar-track {
    background-color: #1e1e1e; }
  .manage_table tbody::-webkit-scrollbar-thumb:hover {
    background-color: #ff8c1a; }
  .manage_table th,
  .manage_table td {
    width: 100%;
    min-width: 105px !important;
    text-align: center;
    padding: 5px !important;
    word-break: break-word; }
  .manage_table th {
    font-family: "Titillium Web Regular";
    font-size: 16px; }
  .manage_table td {
    color: #7d7d7d;
    font-family: "Quicksand Regular";
    font-size: 14px; }
    .manage_table td.descField {
      width: 400px; }
    .manage_table td select {
      width: 95px !important; }
  .manage_table tr {
    height: 30px;
    overflow-x: hidden;
    transition: 0.2s;
    border-bottom: 1px solid gainsboro; }
    .manage_table tr.leadRow {
      background-color: #1e1e1e !important;
      color: #ff8c1a !important;
      user-select: none; }
  .manage_table tr:nth-child(even) {
    background-color: #c8c8c8; }
  .manage_table tr:nth-child(odd) {
    background-color: white; }
  .manage_table i {
    color: #ff8c1a;
    transition: 0.2s; }
    .manage_table i:hover {
      color: #e67300; }
    .manage_table i.disabled {
      color: #7d7d7d !important; }

#manage_searchGrouper {
  width: 50%;
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px; }
  #manage_searchGrouper td {
    width: 200px;
    text-align: center;
    font-weight: 700; }

.manage_searchOption {
  width: 20px;
  height: 20px;
  display: block;
  margin-left: 5px;
  margin-right: 5px;
  margin: auto;
  cursor: pointer;
  user-select: none;
  background-color: #7d7d7d;
  border: 5px solid #c8c8c8;
  border-radius: 50%;
  transition: 0.2s; }
  .manage_searchOption:hover {
    border: 5px solid #f0f0f0; }
  .manage_searchOption.activeSearch {
    background-color: #ff8c1a; }

