﻿//IMPORTS
@import 'Styles.scss';

//CONTAINERS
#site_navbar {
    width: 100%;
    display: block;
    overflow-y: auto;
    background-color: $site_darkGrey;

    .navCollect {
        width: auto;
        overflow-y: auto;
        display: block;
        margin: auto;
    }

    .navOption,
    .navText {
        width: calc(15.5% - 20px);
        display: block;
        float: left;
        margin-left: 10px;
        margin-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        line-height: 40px;
        color: rgb(255,255,255);
        font-size: 20px;
        text-align: center;
        user-select: none;

        &.fiveOptions {
            width: calc(15.5% - 20px);
        }
    }

    .navOption {
        @include mix_tab_interactive;
    }

    .navText {
        p {
            margin: 0px;
            font-family: $site_navFont;
            font-size: 16px;
        }
    }
}

#site_navfoot {
    width: 100%;
    display: block;
    bottom: 0;
    position: fixed;
    background-color: $site_darkGrey;
    color: rgb(255,255,255);
    padding-top: 2px;
    padding-bottom: 2px;

    p {
        margin: 0;
        line-height: 15px;
        font-family: $site_navFont;
        font-size: 14px;
        text-align: center;
    }
}

//SCALING

//MISC
