﻿#site_navbar {
  width: 100%;
  display: block;
  overflow-y: auto;
  background-color: #1e1e1e; }
  #site_navbar .navCollect {
    width: auto;
    overflow-y: auto;
    display: block;
    margin: auto; }
  #site_navbar .navOption,
  #site_navbar .navText {
    width: calc(15.5% - 20px);
    display: block;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 40px;
    color: white;
    font-size: 20px;
    text-align: center;
    user-select: none; }
    #site_navbar .navOption.fiveOptions,
    #site_navbar .navText.fiveOptions {
      width: calc(15.5% - 20px); }
  #site_navbar .navOption {
    background-color: #1e1e1e;
    color: white;
    transition: 0.2s; }
    #site_navbar .navOption:hover {
      color: #ff8c1a;
      background-color: #555555;
      cursor: pointer; }
  #site_navbar .navText p {
    margin: 0px;
    font-family: "Titillium Web Regular";
    font-size: 16px; }

#site_navfoot {
  width: 100%;
  display: block;
  bottom: 0;
  position: fixed;
  background-color: #1e1e1e;
  color: white;
  padding-top: 2px;
  padding-bottom: 2px; }
  #site_navfoot p {
    margin: 0;
    line-height: 15px;
    font-family: "Titillium Web Regular";
    font-size: 14px;
    text-align: center; }

