﻿//IMPORTS
@import 'Styles.scss';

//CONTAINERS
.modal_back {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    z-index: 10;
    background-color: $site_transGrey;
    overflow: hidden;

    &.highPriority {
        z-index: 999;
    }
}

.modal_fore {
    width: 500px;
    display: block;
    margin: auto;
    margin-top: 12.5%;
    padding-bottom: 2.5%;
    background-color: rgb(255,255,255);
    border: 2px solid $site_borderGrey;

    &.extraX {
        width: 750px;
    }

    &.extraY {
        height: 750px;
    }

    &.mini {
        width: 200px;
        margin-top: 15%;
    }

    .mainHeader,
    .subHeader {
        width: 100%;
        text-align: center;
        user-select: none;
    }

    .mainHeader {
        margin-top: 10px;
        margin-bottom: 10px;
        padding-bottom: 5px;
        font-family: $site_headerFont;
        font-size: 22px
    }

    .subHeader {
        margin-top: 5px;
        margin-bottom: 5px;
        font-family: $site_headerFont;
        font-size: 16px;
    }

    p {
        font-family: $site_bodyFont;
        font-size: 14px;
        text-align: center;
    }

    .contentLeft,
    .contentRight {
        width: 50%;
        display: block;
        float: left;
    }

    .contentLeft {
    }

    .contentRight {
    }

    input,
    select {
        width: 50%;
        height: 30px;
        display: block;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        border: 1px solid $site_borderGrey;
        text-align: center;
        outline: none;
        text-align-last: center;
        transition: 0.2s;

        &:hover {
            border: 1px solid $site_alertOrange;
        }
    }

    .checkLogo {
        display: block;
        margin: auto;
        margin-top: 5%;
        margin-bottom: 5%;
        color: $site_alertOrange;
        text-align: center;
    }
}

.modal_multiPane {
    display: none;
}

.modal_option {
    width: 125px;
    height: 25px;
    display: block;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-top: 2px solid $site_borderGrey;
    border-bottom: 2px solid $site_borderGrey;
    user-select: none;
    cursor: pointer;
    transition: 0.2s;
    color: rgb(0,0,0);
    font-family: $site_optionFont;
    font-size: 14px;
    text-align: center;
    line-height: 12px;

    &:hover {
        color: $site_alertOrange;
    }
}

.modal_switch {
    width: 60px;
    display: block;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 10px;
    overflow-y: auto;
    cursor: pointer;
    border-radius: 10px;

    .switchLeft,
    .switchRight {
        width: 30px;
        height: 30px;
        display: block;
        float: left;
        line-height: 30px;

        &.switchTrue {
            background-color: $site_switchOn;
        }

        &.switchFalse {
            background-color: $site_switchOff;
        }
    }

    .switchPip {
        width: 15px;
        height: 15px;
        display: block;
        margin: auto;
        margin-top: 7px;
        border-radius: 100%;
        transition: 0.2s;

        &.pipTrue {
            background-color: $site_pipOn;
        }

        &.pipFalse {
            background-color: $site_pipOff;
        }
    }
}

.modal_spacer {
    width: 100%;
    height: 30px;
    display: block;
    margin: auto;
}

.modal_scroller {
    width: 80%;
    height: 300px;
    display: block;
    margin: auto;
    overflow-y: scroll;
    border: 1px solid $site_borderGrey;
    
    .scrollItem {
        width: 99%;
        min-height: 100px;
        border-top: 1px solid $site_borderGrey;
        border-bottom: 1px solid $site_borderGrey;
        overflow-y: auto;
        transition: 0.2s;

        &:hover {
            background-color: $site_hoverGrey;
        }

        p {
            margin: 0;

            &.header {
                user-select: none;
                font-weight: 700;
                font-family: $site_navFont;
                font-size: 13px;
            }
        }

        hr {
            width: 75%;
            color: $site_borderGrey;
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }
}

.modal_scroller::-webkit-scrollbar {
    z-index: 100;
    width: 5px;
    cursor: pointer !important;
    transition: 0.2s;
}

.modal_scroller::-webkit-scrollbar-thumb {
    background-color: $site_alertOrangeHover;
}

.modal_scroller::-webkit-scrollbar-track {
    background-color: $site_darkGrey;
}

.modal_scroller::-webkit-scrollbar-thumb:hover {
    background-color: $site_alertOrange;
}

//SCALING
@media screen and (max-width: 1000px) {

}

//MISC

.newMessage {
    color: $site_alertBlue !important;

    &:hover {
        color: $site_alertBlueHover !important;
    }
}
