﻿.modal_back {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  z-index: 10;
  background-color: rgba(15, 15, 15, 0.65);
  overflow: hidden; }
  .modal_back.highPriority {
    z-index: 999; }

.modal_fore {
  width: 500px;
  display: block;
  margin: auto;
  margin-top: 12.5%;
  padding-bottom: 2.5%;
  background-color: white;
  border: 2px solid gainsboro; }
  .modal_fore.extraX {
    width: 750px; }
  .modal_fore.extraY {
    height: 750px; }
  .modal_fore.mini {
    width: 200px;
    margin-top: 15%; }
  .modal_fore .mainHeader,
  .modal_fore .subHeader {
    width: 100%;
    text-align: center;
    user-select: none; }
  .modal_fore .mainHeader {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    font-family: "Fjalla One";
    font-size: 22px; }
  .modal_fore .subHeader {
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: "Fjalla One";
    font-size: 16px; }
  .modal_fore p {
    font-family: "Quicksand Regular";
    font-size: 14px;
    text-align: center; }
  .modal_fore .contentLeft,
  .modal_fore .contentRight {
    width: 50%;
    display: block;
    float: left; }
  .modal_fore input,
  .modal_fore select {
    width: 50%;
    height: 30px;
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid gainsboro;
    text-align: center;
    outline: none;
    text-align-last: center;
    transition: 0.2s; }
    .modal_fore input:hover,
    .modal_fore select:hover {
      border: 1px solid #ff8c1a; }
  .modal_fore .checkLogo {
    display: block;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    color: #ff8c1a;
    text-align: center; }

.modal_multiPane {
  display: none; }

.modal_option {
  width: 125px;
  height: 25px;
  display: block;
  margin: auto;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  border-top: 2px solid gainsboro;
  border-bottom: 2px solid gainsboro;
  user-select: none;
  cursor: pointer;
  transition: 0.2s;
  color: black;
  font-family: "Open Sans";
  font-size: 14px;
  text-align: center;
  line-height: 12px; }
  .modal_option:hover {
    color: #ff8c1a; }

.modal_switch {
  width: 60px;
  display: block;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 10px;
  overflow-y: auto;
  cursor: pointer;
  border-radius: 10px; }
  .modal_switch .switchLeft,
  .modal_switch .switchRight {
    width: 30px;
    height: 30px;
    display: block;
    float: left;
    line-height: 30px; }
    .modal_switch .switchLeft.switchTrue,
    .modal_switch .switchRight.switchTrue {
      background-color: #bebebe; }
    .modal_switch .switchLeft.switchFalse,
    .modal_switch .switchRight.switchFalse {
      background-color: #e6e6e6; }
  .modal_switch .switchPip {
    width: 15px;
    height: 15px;
    display: block;
    margin: auto;
    margin-top: 7px;
    border-radius: 100%;
    transition: 0.2s; }
    .modal_switch .switchPip.pipTrue {
      background-color: #ff8c1a; }
    .modal_switch .switchPip.pipFalse {
      background-color: #505050; }

.modal_spacer {
  width: 100%;
  height: 30px;
  display: block;
  margin: auto; }

.modal_scroller {
  width: 80%;
  height: 300px;
  display: block;
  margin: auto;
  overflow-y: scroll;
  border: 1px solid gainsboro; }
  .modal_scroller .scrollItem {
    width: 99%;
    min-height: 100px;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    overflow-y: auto;
    transition: 0.2s; }
    .modal_scroller .scrollItem:hover {
      background-color: #f0f0f0; }
    .modal_scroller .scrollItem p {
      margin: 0; }
      .modal_scroller .scrollItem p.header {
        user-select: none;
        font-weight: 700;
        font-family: "Titillium Web Regular";
        font-size: 13px; }
    .modal_scroller .scrollItem hr {
      width: 75%;
      color: gainsboro;
      margin-top: 5px;
      margin-bottom: 5px; }

.modal_scroller::-webkit-scrollbar {
  z-index: 100;
  width: 5px;
  cursor: pointer !important;
  transition: 0.2s; }

.modal_scroller::-webkit-scrollbar-thumb {
  background-color: #e67300; }

.modal_scroller::-webkit-scrollbar-track {
  background-color: #1e1e1e; }

.modal_scroller::-webkit-scrollbar-thumb:hover {
  background-color: #ff8c1a; }

.newMessage {
  color: deepskyblue !important; }
  .newMessage:hover {
    color: #0099cc !important; }
