#specmaster_menuItems {
    width: 15%;
    height: 600px;
    min-height: 500px;
    display: block;
    float: left;
    padding-right: 50px;
    margin-right: 2.5%;
    margin-left: 2.5%;
    border-right: 2px solid lightgray;
    color: white;
}

#specmaster_specContent {
    width: 65%;
    height: 600px;
    display: block;
    float: left;
    margin-right: 2.5%;
    margin-left: 2.5%;
    background-color: rgb(0, 0, 0);
    border: 2px solid lightgray;
    overflow-y: scroll;
}

#specmaster_specContent::-webkit-scrollbar {
    z-index: 100;
    width: 10px;
    cursor: pointer;
    transition: 0.2s;
}

#specmaster_specContent::-webkit-scrollbar-thumb {
    background-color: rgb(20, 199, 199);
}

#specmaster_specContent::-webkit-scrollbar-track {
    background-color: rgb(50, 50, 50);
}

#specmaster_specContent::-webkit-scrollbar-thumb:hover {
    background-color: rgb(22, 221, 221);
}

    #specmaster_specContent li {
        width: 100%;
        height: 25px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        line-height: 25px;
        margin-left: -25px;
        color: white;
        border: 2px solid transparent;
        text-align: center;
        font-size: 16px;
        cursor: pointer;
        list-style: none;
        border-radius: 5px;
    }

    #specmaster_specContent li:hover {
        border: 2px solid white;
    }

    #specmaster_specContent li.lastAdded {
        border: 2px solid rgb(255, 219, 17) !important;
    }

    #specmaster_specContent li.lastMoved {
        border: 2px solid rgb(20, 199, 199) !important;
    }

    #specmaster_specContent li select, input {
        width: 35%;
        height: 25px;
        display: block;
        float: left;
        margin-right: 10px;
        border: none;
        text-align: center;
        font-size: 15px;
        background-color: rgb(0, 0, 0);
        color: white;
        line-height: 15px;
    }

    #specmaster_specContent li select,
    #specmaster_specContent li select option {
        padding-left: 5px;
        cursor: pointer;
    }

    #specmaster_specContent li input {
        width: 60%;
        background-color: transparent;
        border-bottom: 1px solid white;
        outline: none;
        transition: 0.2s;
        user-select: text;
    }

.specmaster_menuOption,
.spec_toolHeader {
    width: 100%;
    height: 25px;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 25px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid transparent;
    cursor: pointer;
    transition: 0.2s;
}

.specmaster_menuOption:hover {
    text-decoration: underline;
}

.spec_toolHeader {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    cursor: default;
    font-weight: 700;
}

#spec_header,
#spec_headerMini {
    text-align: center;
    color: black;
    margin-top: 10px;
    font-size: 25px;
}

#spec_headerMini {
    font-size: 16px;
    font-weight: bold;
}

#spec_notes {
    width: 95%;
    height: 50px;
    display: block;
    margin: auto;
    margin-top: 10px;
    text-align: left;
    color: gray;
    border: 2px solid lightgray;
    font-size: 15px;
    padding: 5px;
    outline: none;
}

/* Conditions - If x, etc. */
.condition {
    background-color: rgb(200, 135, 50);
}

/* Operators - AND/OR/NOT, etc. */
.operator {
    background-color: rgb(50, 200, 50);
}

.calculation {
    background-color: rgb(70, 70, 70);
}

/* Lookups - Tables, etc. */
.lookup {
    background-color: rgb(150, 75, 150);
}

/* Actions - Decline, remove OpEx, etc. */
.action {
    background-color: rgb(255, 50, 50);
}

/* Custom item - freely editable */
.freeform {
    background-color: rgb(41, 65, 223);
}

.spacing {
    background-color: rgb(0, 0, 0);
}

.invis {
    opacity: 0;
    cursor: default;
}

.masteroption {
    background-color: rgb(117, 29, 84);
}

.centred {
    float: none !important;
    margin: auto !important;
}

.isDeleting {
    background-color: rgb(255, 0, 0);
}