﻿#spec_body {
  width: 100%;
  height: 100%;
  overflow: auto;
  display: block;
  margin: auto;
  margin-top: 2.5%; }

#spec_toolbox {
  width: 15%;
  height: 600px;
  min-height: 500px;
  display: block;
  float: left;
  padding-right: 50px;
  margin-right: 2.5%;
  margin-left: 2.5%;
  border-right: 2px solid lightgray;
  color: white; }

#spec_specContent {
  width: 65%;
  height: 600px;
  display: block;
  float: left;
  margin-right: 2.5%;
  margin-left: 2.5%;
  background-color: black;
  border: 2px solid lightgray;
  overflow-y: scroll; }

#spec_specContent::-webkit-scrollbar {
  z-index: 100;
  width: 10px;
  cursor: pointer;
  transition: 0.2s; }

#spec_specContent::-webkit-scrollbar-thumb {
  background-color: #14c7c7; }

#spec_specContent::-webkit-scrollbar-track {
  background-color: #323232; }

#spec_specContent::-webkit-scrollbar-thumb:hover {
  background-color: #16dddd; }

#spec_specContent li {
  width: 100%;
  height: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 25px;
  margin-left: -25px;
  color: white;
  border: 2px solid transparent;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  list-style: none;
  border-radius: 5px; }

#spec_specContent li:hover {
  border: 2px solid white; }

#spec_specContent li.lastAdded {
  border: 2px solid #ffdb11 !important; }

#spec_specContent li.lastMoved {
  border: 2px solid #14c7c7 !important; }

#spec_specContent li select, input {
  width: 35%;
  height: 25px;
  display: block;
  float: left;
  margin-right: 10px;
  border: none;
  text-align: center;
  font-size: 15px;
  background-color: black;
  color: white;
  line-height: 15px; }

#spec_specContent li select,
#spec_specContent li select option {
  padding-left: 5px;
  cursor: pointer; }

#spec_specContent li input {
  width: 60%;
  background-color: transparent;
  border-bottom: 1px solid white;
  outline: none;
  transition: 0.2s;
  user-select: text; }

.spec_toolItem,
.spec_toolHeader {
  width: 100%;
  height: 25px;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 25px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0.2s; }

.spec_toolItem:hover {
  text-decoration: underline; }

.spec_toolHeader {
  background-color: white;
  color: black;
  cursor: default;
  font-weight: 700; }

#spec_header,
#spec_headerMini {
  text-align: center;
  color: black;
  margin-top: 10px;
  font-size: 25px; }

#spec_headerMini {
  font-size: 16px;
  font-weight: bold; }

#spec_notes {
  width: 95%;
  height: 50px;
  display: block;
  margin: auto;
  margin-top: 10px;
  text-align: left;
  color: gray;
  border: 2px solid lightgray;
  font-size: 15px;
  padding: 5px;
  outline: none; }

/* Conditions - If x, etc. */
.condition {
  background-color: #c88732; }

/* Operators - AND/OR/NOT, etc. */
.operator {
  background-color: #32c832; }

.calculation {
  background-color: #464646; }

/* Lookups - Tables, etc. */
.lookup {
  background-color: #964b96; }

/* Actions - Decline, remove OpEx, etc. */
.action {
  background-color: #ff3232; }

/* Custom item - freely editable */
.freeform {
  background-color: #2941df; }

.spacing {
  background-color: black; }

.invis {
  opacity: 0;
  cursor: default; }

.masteroption {
  background-color: #751d54; }

.centred {
  float: none !important;
  margin: auto !important; }

.isDeleting {
  background-color: red; }

