﻿html {
  height: calc(100% - 40px); }

body {
  padding-top: 0px;
  z-index: 0; }

container body-content {
  height: 100%;
  width: 90%; }

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none; }

::-webkit-input-placeholder {
  color: gainsboro; }

