﻿#index_search,
.index_option {
  width: 50%;
  height: 30px;
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid gainsboro;
  text-align: center;
  outline-width: 0;
  font-family: "Quicksand Regular";
  line-height: 30px;
  transition: 0.2s; }
  #index_search:hover,
  .index_option:hover {
    border: 1px solid #ff8c1a; }

.index_option {
  margin-top: 10%;
  cursor: pointer; }

.index_banner {
  width: 100%;
  margin-top: 5%;
  overflow-y: auto;
  text-align: center;
  user-select: none;
  color: black;
  font-family: "Fjalla One";
  font-size: 80px;
  transition: 0.2s; }
  .index_banner p {
    margin: 0; }

.index_table {
  width: auto;
  display: block;
  margin: auto;
  margin-top: 2.5%;
  border: 1px solid gainsboro; }
  .index_table tbody {
    height: 350px;
    display: block;
    overflow-y: scroll; }
  .index_table tbody::-webkit-scrollbar {
    z-index: 100;
    width: 2px;
    cursor: pointer !important;
    transition: 0.2s; }
  .index_table tbody::-webkit-scrollbar-thumb {
    background-color: #e67300; }
  .index_table tbody::-webkit-scrollbar-track {
    background-color: #1e1e1e; }
  .index_table tbody::-webkit-scrollbar-thumb:hover {
    background-color: #ff8c1a; }
  .index_table th,
  .index_table td {
    width: 250px !important;
    text-align: center;
    padding: 5px !important;
    word-break: break-word; }
  .index_table th {
    font-family: "Titillium Web Regular";
    font-size: 16px; }
  .index_table td {
    color: #7d7d7d;
    font-family: "Quicksand Regular";
    font-size: 14px; }
    .index_table td.descField {
      width: 500px; }
  .index_table tr {
    height: 30px;
    overflow-x: hidden;
    transition: 0.2s;
    border-bottom: 1px solid gainsboro; }
    .index_table tr.leadRow {
      background-color: #1e1e1e !important;
      color: #ff8c1a !important;
      user-select: none; }
  .index_table tr:nth-child(even) {
    background-color: #c8c8c8; }
  .index_table tr:nth-child(odd) {
    background-color: white; }
  .index_table i {
    color: #ff8c1a;
    transition: 0.2s; }
    .index_table i:hover {
      color: #e67300; }
    .index_table i.disabled {
      color: #7d7d7d !important; }

#index_searchGrouper {
  width: 50%;
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px; }
  #index_searchGrouper td {
    width: 200px;
    text-align: center;
    font-weight: 700; }

.index_searchOption {
  width: 20px;
  height: 20px;
  display: block;
  margin-left: 5px;
  margin-right: 5px;
  margin: auto;
  cursor: pointer;
  user-select: none;
  background-color: #7d7d7d;
  border: 5px solid #c8c8c8;
  border-radius: 50%;
  transition: 0.2s; }
  .index_searchOption:hover {
    border: 5px solid #f0f0f0; }
  .index_searchOption.activeSearch {
    background-color: #ff8c1a; }

.index_tableDesc {
  height: 30px;
  overflow-y: hidden;
  transition: 0.2s;
  cursor: pointer; }
  .index_tableDesc.fullSize {
    height: auto; }

.index_tablePill {
  height: 20px;
  margin: auto;
  padding: 3px;
  border-radius: 5px;
  color: white;
  user-select: none;
  /* In Spec Build */
  /* Awaiting Dev Review */
  /* In Dev Review */
  /* In Dev Build */
  /* Completed */
  /* Canned */ }
  .index_tablePill p {
    font-weight: 700;
    line-height: 15px;
    font-size: 12px;
    text-align: center; }
  .index_tablePill.status0 {
    background-color: #999999; }
  .index_tablePill.status1 {
    background-color: #1a8cff; }
  .index_tablePill.status2 {
    background-color: #ffcc00; }
  .index_tablePill.status3 {
    background-color: #ff8c1a; }
  .index_tablePill.status4 {
    background-color: #66cc00; }
  .index_tablePill.status5 {
    background-color: #990000; }

