﻿//IMPORTS
@import 'Styles.scss';

//CONTAINERS
#index_search,
.index_option {
    width: 50%;
    height: 30px;
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid $site_borderGrey;
    text-align: center;
    outline-width: 0;
    font-family: $site_bodyFont;
    line-height: 30px;
    transition: 0.2s;

    &:hover {
        border: 1px solid $site_alertOrange;
    }
}

.index_option {
    margin-top: 10%;
    cursor: pointer;
}

.index_banner {
    width: 100%;
    margin-top: 5%;
    overflow-y: auto;
    text-align: center;
    user-select: none;
    color: rgb(0,0,0);
    font-family: $site_headerFont;
    font-size: 80px;
    transition: 0.2s;

    p {
        margin: 0;
    }
}

.index_table {
    width: auto;
    display: block;
    margin: auto;
    margin-top: 2.5%;
    border: 1px solid $site_borderGrey;

    tbody {
        height: 350px;
        display: block;
        overflow-y: scroll;
    }

    tbody::-webkit-scrollbar {
        z-index: 100;
        width: 2px;
        cursor: pointer !important;
        transition: 0.2s;
    }

    tbody::-webkit-scrollbar-thumb {
        background-color: $site_alertOrangeHover;
    }

    tbody::-webkit-scrollbar-track {
        background-color: $site_darkGrey;
    }

    tbody::-webkit-scrollbar-thumb:hover {
        background-color: $site_alertOrange;
    }

    th,
    td {
        width: 250px !important;
        text-align: center;
        padding: 5px !important;
        word-break: break-word;
    }

    th {
        font-family: $site_navFont;
        font-size: 16px;
    }

    td {
        color: $site_medGrey;
        font-family: $site_bodyFont;
        font-size: 14px;

        &.descField {
            width: 500px;
        }
    }

    tr {
        height: 30px;
        overflow-x: hidden;
        transition: 0.2s;
        border-bottom: 1px solid $site_borderGrey;

        &.leadRow {
            background-color: $site_darkGrey !important;
            color: $site_alertOrange !important;
            user-select: none;
        }
    }

    tr:nth-child(even) {
        background-color: $site_lightGrey;
    }

    tr:nth-child(odd) {
        background-color: rgb(255,255,255);
    }

    i {
        color: $site_alertOrange;
        transition: 0.2s;

        &:hover {
            color: $site_alertOrangeHover;
        }

        &.disabled {
            color: $site_medGrey !important;
        }
    }
}

#index_searchGrouper {
    width: 50%;
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;

    td {
        width: 200px;
        text-align: center;
        font-weight: 700;
    }
}

.index_searchOption {
    width: 20px;
    height: 20px;
    display: block;
    margin-left: 5px;
    margin-right: 5px;
    margin: auto;
    cursor: pointer;
    user-select: none;
    background-color: $site_medGrey;
    border: 5px solid $site_lightGrey;
    border-radius: 50%;
    transition: 0.2s;

    &:hover {
        border: 5px solid $site_hoverGrey;
    }

    &.activeSearch {
        background-color: $site_alertOrange;
    }
}

.index_tableDesc {
    height: 30px;
    overflow-y: hidden;
    transition: 0.2s;
    cursor: pointer;

    &.fullSize {
        height: auto;
    }
}

.index_tablePill {
    height: 20px;
    margin: auto;
    padding: 3px;
    border-radius: 5px;
    color: rgb(255,255,255);
    user-select: none;

    p {
        font-weight: 700;
        line-height: 15px;
        font-size: 12px;
        text-align: center;
    }

    /* In Spec Build */
    &.status0 {
        background-color: $site_pillGrey;
    }
    /* Awaiting Dev Review */
    &.status1 {
        background-color: $site_pillBlue;
    }
    /* In Dev Review */
    &.status2 {
        background-color: $site_pillYellow;
    }
    /* In Dev Build */
    &.status3 {
        background-color: $site_pillOrange;
    }
    /* Completed */
    &.status4 {
        background-color: $site_pillGreen;
    }
    /* Canned */
    &.status5 {
        background-color: $site_pillRed;
    }
}

//SCALING

//MISC
