﻿//IMPORTS
@import 'Styles.scss';

//CONTAINERS
#specmaster_titleBanner,
#specmaster_statusBanner {
    width: 90%;
    margin: auto;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    overflow-y: auto;
    text-align: center;
    user-select: none;
    color: rgb(0,0,0);
    font-family: $site_headerFont;
    font-size: 30px;
}

#specmaster_titleBanner input {
    width: 300px;
    height: 25px;
    display: block;
    margin: auto;
    margin-bottom: 5px;
    @include mix_interactive;
    text-align: center;
    font-size: 14px;
    font-family: $site_bodyFont;
}

#specmaster_statusPill {
    width: 250px;
    height: 30px;
    display: block;
    margin: auto;
    margin-bottom: 15px;
    padding: 3px;
    border: 1px solid $site_borderGrey;
    padding-bottom: 10px;
    color: rgb(0,0,0);
    user-select: none;
    transition: 0.2s;

    p {
        line-height: 22px;
        font-size: 20px;
        font-family: $site_bodyFont;
        text-align: center;
    }
    /* In Spec Build */
    &.status0 {
        border-left: 15px solid $site_pillGrey;
        border-right: 15px solid $site_pillGrey;
    }
    /* Awaiting Dev Review */
    &.status1 {
        border-left: 15px solid $site_pillBlue;
        border-right: 15px solid $site_pillBlue;
    }
    /* In Dev Review */
    &.status2 {
        border-left: 15px solid $site_pillYellow;
        border-right: 15px solid $site_pillYellow;
    }
    /* In Dev Build */
    &.status3 {
        border-left: 15px solid $site_pillOrange;
        border-right: 15px solid $site_pillOrange;
    }
    /* Completed */
    &.status4 {
        border-left: 15px solid $site_pillGreen;
        border-right: 15px solid $site_pillGreen;
    }
    /* Canned */
    &.status5 {
        border-left: 15px solid $site_pillRed;
        border-right: 15px solid $site_pillRed;
    }
}

#specmaster_menuItems {
    width: 25%;
    height: 530px;
    display: block;
    float: left;
    margin-right: 5%;
    margin-bottom: 15px;
    padding-right: 4%;
    border-right: 2px solid $site_borderGrey;
    user-select: none;
    font-family: $site_navFont;

    .menuLabel,
    .menuOption,
    .menuSelect {
        width: 100%;
        height: 30px;
        display: block;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
        outline-width: 0;
        font-family: $site_bodyFont;
        line-height: 30px;
        transition: 0.2s;
        color: rgb(255,255,255);
    }

    .menuLabel {
        font-weight: 700;
        color: rgb(0,0,0);
    }

    .menuSelect {
        color: rgb(0,0,0);
    }

    .menuOption {
        width: calc(100 - 15px);
        cursor: pointer;
        color: rgb(0,0,0);
        @include mix_interactive;

        //Conditions - If x, etc.
        &.condition {
            border-left: 15px solid rgb(200, 135, 50);

            &:hover {
                border-left: 15px solid rgb(220, 155, 70);
            }
        }
        //Operators - AND/OR/NOT, etc.
        &.operator {
            border-left: 15px solid rgb(50, 200, 50);

            &:hover {
                border-left: 15px solid rgb(70, 230, 70);
            }
        }
        //Calcations
        &.calculation {
            border-left: 15px solid rgb(70, 70, 70);

            &:hover {
                border-left: 15px solid rgb(90, 90, 90);
            }
        }
        //Lookups - Tables, etc.
        &.lookup {
            border-left: 15px solid rgb(150, 75, 150);

            &:hover {
                border-left: 15px solid rgb(170, 95, 170);
            }
        }
        //Actions - Decline, remove OpEx, etc.
        &.action {
            border-left: 15px solid rgb(255, 50, 50);

            &:hover {
                border-left: 15px solid rgb(255, 70, 70);
            }
        }
        //Custom item - freely editable
        &.freeform {
            border-left: 15px solid rgb(41, 65, 223);

            &:hover {
                border-left: 15px solid rgb(61, 85, 243);
            }
        }
        //Spacer - visual only
        &.spacer {
            border-left: 15px solid $site_lightGrey;
        }
    }
}

#specmaster_specContent {
    width: 70%;
    height: 500px;
    display: block;
    float: left;
    background-color: rgb(0,0,0);
    overflow-y: scroll;
    @include mix_interactive;

    .specItem {
        width: 93%;
        height: 35px;
        display: block;
        margin-top: 5px;
        margin-bottom: 5px;
        border: 2px solid rgb(255,255,255);
        border-radius: 5px;
        color: rgb(255,255,255);
        text-align: center;
        font-family: $site_bodyFont;
        cursor: pointer;

        &:hover {
            border: 2px solid $site_alertOrange !important;
        }

        &.lastMoved {
            border: 2px solid $site_alertBlue;
        }

        &.lastAdded {
            border: 2px solid $site_alertYellow;
        }

        //Spacer - visual only
        &.spacer {
            border: 2px solid rgb(0,0,0);
            color: rgb(0,0,0) !important;
        }

        //Conditions - If x, etc.
        &.condition {
            background-color: rgb(200, 135, 50);
        }

        //Operators - AND/OR/NOT, etc.
        &.operator {
            background-color: rgb(50, 200, 50);
        }

        //Calculations
        &.calculation {
            background-color: rgb(70, 70, 70);
        }

        //Lookups - Tables, etc.
        &.lookup {
            background-color: rgb(150, 75, 150);
        }

        //Actions - Decline, remove OpEx, etc.
        &.action {
            background-color: rgb(255, 50, 50);
        }

        //Custom item - freely editable
        &.freeform {
            background-color: rgb(41, 65, 223);
        }

        input,
        select {
            width: 35%;
            display: block;
            float: left;
            margin-right: 5px;
            margin-left: 5px;
            margin-top: 5px;
            border: none;
            text-align: center;
            font-size: 15px;
            background-color: rgb(0, 0, 0);
            color: white;
        }

        input {
            width: 60%;
            background-color: transparent;
            border-bottom: 1px solid white;
            outline: none;
            transition: 0.2s;
            user-select: text;
        }

        select,
        select option {
            border-radius: 5px;
            text-align-last: center;
            padding-left: 5px;
            cursor: pointer;
        }
    }
}

#specmaster_specContent::-webkit-scrollbar,
#specmaster_notesContent::-webkit-scrollbar {
    z-index: 100;
    width: 5px;
    cursor: pointer !important;
    transition: 0.2s;
}

#specmaster_specContent::-webkit-scrollbar-thumb,
#specmaster_notesContent::-webkit-scrollbar-thumb {
    background-color: $site_alertOrangeHover;
}

#specmaster_specContent::-webkit-scrollbar-track,
#specmaster_notesContent::-webkit-scrollbar-track {
    background-color: $site_darkGrey;
}

#specmaster_specContent::-webkit-scrollbar-thumb:hover,
#specmaster_notesContent::-webkit-scrollbar-thumb:hover {
    background-color: $site_alertOrange;
}

#specmaster_notesContent {
    width: 100%;
    height: 100px;
    display: block;
    margin: auto;
    margin-top: 15px;
    padding: 5px;
    font-size: 14px;
    font-family: $site_noteFont;
    color: black;
    clear: both;
    outline: none;
    overflow-y: auto;
    @include mix_interactive;
}

//SCALING


//MISC

::-webkit-input-placeholder {
    color: $site_lightGrey;
}

.spacing {
    background-color: rgb(0, 0, 0);
}

.invis {
    opacity: 0;
    cursor: default;
}

.centred {
    width: 75% !important;
    float: none !important;
    margin: auto !important;
    margin-top: 5px !important;
}

.isDeleting {
    background-color: rgb(255,0,0) !important;
    color: rgb(255,255,255) !important;
}

.disabled {
    background-color: $site_hoverGrey !important;
    color: $site_medGrey !important;
    cursor: default !important;

    &:hover {
        border: 1px solid $site_borderGrey !important;
    }
}