﻿#specmaster_titleBanner,
#specmaster_statusBanner {
  width: 90%;
  margin: auto;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  overflow-y: auto;
  text-align: center;
  user-select: none;
  color: black;
  font-family: "Fjalla One";
  font-size: 30px; }

#specmaster_titleBanner input {
  width: 300px;
  height: 25px;
  display: block;
  margin: auto;
  margin-bottom: 5px;
  border: 1px solid gainsboro;
  transition: 0.2s;
  text-align: center;
  font-size: 14px;
  font-family: "Quicksand Regular"; }
  #specmaster_titleBanner input:hover {
    border: 1px solid #ff8c1a; }

#specmaster_statusPill {
  width: 250px;
  height: 30px;
  display: block;
  margin: auto;
  margin-bottom: 15px;
  padding: 3px;
  border: 1px solid gainsboro;
  padding-bottom: 10px;
  color: black;
  user-select: none;
  transition: 0.2s;
  /* In Spec Build */
  /* Awaiting Dev Review */
  /* In Dev Review */
  /* In Dev Build */
  /* Completed */
  /* Canned */ }
  #specmaster_statusPill p {
    line-height: 22px;
    font-size: 20px;
    font-family: "Quicksand Regular";
    text-align: center; }
  #specmaster_statusPill.status0 {
    border-left: 15px solid #999999;
    border-right: 15px solid #999999; }
  #specmaster_statusPill.status1 {
    border-left: 15px solid #1a8cff;
    border-right: 15px solid #1a8cff; }
  #specmaster_statusPill.status2 {
    border-left: 15px solid #ffcc00;
    border-right: 15px solid #ffcc00; }
  #specmaster_statusPill.status3 {
    border-left: 15px solid #ff8c1a;
    border-right: 15px solid #ff8c1a; }
  #specmaster_statusPill.status4 {
    border-left: 15px solid #66cc00;
    border-right: 15px solid #66cc00; }
  #specmaster_statusPill.status5 {
    border-left: 15px solid #990000;
    border-right: 15px solid #990000; }

#specmaster_menuItems {
  width: 25%;
  height: 530px;
  display: block;
  float: left;
  margin-right: 5%;
  margin-bottom: 15px;
  padding-right: 4%;
  border-right: 2px solid gainsboro;
  user-select: none;
  font-family: "Titillium Web Regular"; }
  #specmaster_menuItems .menuLabel,
  #specmaster_menuItems .menuOption,
  #specmaster_menuItems .menuSelect {
    width: 100%;
    height: 30px;
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    outline-width: 0;
    font-family: "Quicksand Regular";
    line-height: 30px;
    transition: 0.2s;
    color: white; }
  #specmaster_menuItems .menuLabel {
    font-weight: 700;
    color: black; }
  #specmaster_menuItems .menuSelect {
    color: black; }
  #specmaster_menuItems .menuOption {
    width: calc(100 - 15px);
    cursor: pointer;
    color: black;
    border: 1px solid gainsboro;
    transition: 0.2s; }
    #specmaster_menuItems .menuOption:hover {
      border: 1px solid #ff8c1a; }
    #specmaster_menuItems .menuOption.condition {
      border-left: 15px solid #c88732; }
      #specmaster_menuItems .menuOption.condition:hover {
        border-left: 15px solid #dc9b46; }
    #specmaster_menuItems .menuOption.operator {
      border-left: 15px solid #32c832; }
      #specmaster_menuItems .menuOption.operator:hover {
        border-left: 15px solid #46e646; }
    #specmaster_menuItems .menuOption.calculation {
      border-left: 15px solid #464646; }
      #specmaster_menuItems .menuOption.calculation:hover {
        border-left: 15px solid #5a5a5a; }
    #specmaster_menuItems .menuOption.lookup {
      border-left: 15px solid #964b96; }
      #specmaster_menuItems .menuOption.lookup:hover {
        border-left: 15px solid #aa5faa; }
    #specmaster_menuItems .menuOption.action {
      border-left: 15px solid #ff3232; }
      #specmaster_menuItems .menuOption.action:hover {
        border-left: 15px solid #ff4646; }
    #specmaster_menuItems .menuOption.freeform {
      border-left: 15px solid #2941df; }
      #specmaster_menuItems .menuOption.freeform:hover {
        border-left: 15px solid #3d55f3; }
    #specmaster_menuItems .menuOption.spacer {
      border-left: 15px solid #c8c8c8; }

#specmaster_specContent {
  width: 70%;
  height: 500px;
  display: block;
  float: left;
  background-color: black;
  overflow-y: scroll;
  border: 1px solid gainsboro;
  transition: 0.2s; }
  #specmaster_specContent:hover {
    border: 1px solid #ff8c1a; }
  #specmaster_specContent .specItem {
    width: 93%;
    height: 35px;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    text-align: center;
    font-family: "Quicksand Regular";
    cursor: pointer; }
    #specmaster_specContent .specItem:hover {
      border: 2px solid #ff8c1a !important; }
    #specmaster_specContent .specItem.lastMoved {
      border: 2px solid deepskyblue; }
    #specmaster_specContent .specItem.lastAdded {
      border: 2px solid #ffd633; }
    #specmaster_specContent .specItem.spacer {
      border: 2px solid black;
      color: black !important; }
    #specmaster_specContent .specItem.condition {
      background-color: #c88732; }
    #specmaster_specContent .specItem.operator {
      background-color: #32c832; }
    #specmaster_specContent .specItem.calculation {
      background-color: #464646; }
    #specmaster_specContent .specItem.lookup {
      background-color: #964b96; }
    #specmaster_specContent .specItem.action {
      background-color: #ff3232; }
    #specmaster_specContent .specItem.freeform {
      background-color: #2941df; }
    #specmaster_specContent .specItem input,
    #specmaster_specContent .specItem select {
      width: 35%;
      display: block;
      float: left;
      margin-right: 5px;
      margin-left: 5px;
      margin-top: 5px;
      border: none;
      text-align: center;
      font-size: 15px;
      background-color: black;
      color: white; }
    #specmaster_specContent .specItem input {
      width: 60%;
      background-color: transparent;
      border-bottom: 1px solid white;
      outline: none;
      transition: 0.2s;
      user-select: text; }
    #specmaster_specContent .specItem select,
    #specmaster_specContent .specItem select option {
      border-radius: 5px;
      text-align-last: center;
      padding-left: 5px;
      cursor: pointer; }

#specmaster_specContent::-webkit-scrollbar,
#specmaster_notesContent::-webkit-scrollbar {
  z-index: 100;
  width: 5px;
  cursor: pointer !important;
  transition: 0.2s; }

#specmaster_specContent::-webkit-scrollbar-thumb,
#specmaster_notesContent::-webkit-scrollbar-thumb {
  background-color: #e67300; }

#specmaster_specContent::-webkit-scrollbar-track,
#specmaster_notesContent::-webkit-scrollbar-track {
  background-color: #1e1e1e; }

#specmaster_specContent::-webkit-scrollbar-thumb:hover,
#specmaster_notesContent::-webkit-scrollbar-thumb:hover {
  background-color: #ff8c1a; }

#specmaster_notesContent {
  width: 100%;
  height: 100px;
  display: block;
  margin: auto;
  margin-top: 15px;
  padding: 5px;
  font-size: 14px;
  font-family: "Open Sans";
  color: black;
  clear: both;
  outline: none;
  overflow-y: auto;
  border: 1px solid gainsboro;
  transition: 0.2s; }
  #specmaster_notesContent:hover {
    border: 1px solid #ff8c1a; }

::-webkit-input-placeholder {
  color: #c8c8c8; }

.spacing {
  background-color: black; }

.invis {
  opacity: 0;
  cursor: default; }

.centred {
  width: 75% !important;
  float: none !important;
  margin: auto !important;
  margin-top: 5px !important; }

.isDeleting {
  background-color: red !important;
  color: white !important; }

.disabled {
  background-color: #f0f0f0 !important;
  color: #7d7d7d !important;
  cursor: default !important; }
  .disabled:hover {
    border: 1px solid gainsboro !important; }

