//Common styles - colours, fonts, etc

//COLOURS; GENERIC
$site_borderGrey: rgb(220,220,220);
$site_lightGrey: rgb(200,200,200);
$site_medGrey: rgb(125,125,125);
$site_darkGrey: rgb(30,30,30);

$site_transGrey: rgba(15,15,15,0.65);
$site_hoverGrey: rgb(240,240,240);

$site_alertOrange: rgb(255,140,26);
$site_alertOrangeHover: rgb(230,115,0);

$site_alertBlue: rgb(0,191,255);
$site_alertBlueHover: rgb(0,153,204);

$site_alertYellow: rgb(255,214,51);

//CONTROL COLOURS
$site_switchOn: rgb(190,190,190);
$site_switchOff: rgb(230,230,230);
$site_pipOn: rgb(255,140,26);
$site_pipOff: rgb(80,80,80);

//SPEC STATUS COLOURS
$site_pillGrey: rgb(153,153,153);
$site_pillBlue: rgb(26, 140, 255);
$site_pillYellow: rgb(255,204,0);
$site_pillOrange: rgb(255,140,26);
$site_pillGreen: rgb(102, 204, 0);
$site_pillRed: rgb(153, 0, 0);

//FONTS
$site_headerFont: 'Fjalla One';
$site_bodyFont: 'Quicksand Regular';
$site_noteFont: 'Open Sans';
$site_alertFont: 'Quicksand Medium';
$site_navFont: 'Titillium Web Regular';
$site_optionFont: 'Open Sans';

//BORDERS

//MIXINS
@mixin mix_interactive {
    border: 1px solid $site_borderGrey;
    transition: 0.2s;

    &:hover {
        border: 1px solid $site_alertOrange;
    }
}

@mixin mix_tab_interactive {
    background-color: $site_darkGrey;
    color: white;
    transition: 0.2s;

    &:hover {
        color: $site_alertOrange;
        background-color: $site_darkGrey + 55;
        cursor: pointer;
    }
}

@mixin mix_layoutCentred {
    display: block;
    margin: auto;
}

@mixin mix_layoutSplit {
    float: left;
    width: 50%;
}

//ETC