﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Stax</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <script src="~/lib/jquery/dist/jquery.min.js" type="text/javascript" asp-append-version="true"></script>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/menu.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    </environment>
    <environment>
        <!--Styling; global; excl. env-->
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/menu.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/modals.css" asp-append-version="true" />
    </environment>

    @RenderSection("Styles", required: false)
</head>
<body>
    <!--Global ViewComponents-->
    <div id="site_confirmPopUp" class="modal_back highPriority">
        @await Component.InvokeAsync("ConfirmPopUp");
    </div>
    <div class="modal_back" js-modalVal="0">
        @await Component.InvokeAsync("Messages");
    </div>
    <div class="modal_back" js-modalVal="1">
        @await Component.InvokeAsync("Preferences");
    </div>

    <!--Main site navigation panel-->
    <div id="site_navbar">
        <div class="navCollect">

            <!--User details-->
            <div class="navText">
                @await Component.InvokeAsync("UserData")
            </div>

            <!--Home-->
            <a asp-controller="Home" asp-action="Index">
                <div class="navOption" title="Home">
                    <i class="fas fa-home"></i>
                </div>
            </a>

            <!--Site menu-->
            <a asp-controller="SpecMaster" asp-action="Index">
                <div class="navOption" title="Browse">
                    <i class="fas fa-file-alt"></i>
                </div>
            </a>

            <!--User inbox-->
            <div id="navMessages" class="navOption" onclick="ToggleModal(0)" title="Messages">
                <i class="fas fa-envelope"></i>
            </div>

            <!--User preferences-->
            <div class="navOption" onclick="ToggleModal(1)" title="Preferences">
                <i class="fas fa-cogs"></i>
            </div>

            <!--Dashboard-->
            <a asp-controller="Dashboard" asp-action="Index">
                <div class="navOption" title="Dashboard">
                    <i class="fas fa-columns"></i>
                </div>
            </a>
        </div>
    </div>

    <environment>
        <script type="text/javascript" src="" asp-append-version="true"></script>
    </environment>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/jquery-ui.min.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="~/js/jquery.min.js" asp-append-version="true"></script>
        <script src="~/js/jquery-ui.min.js" asp-append-version="true"></script>
    </environment>

    <!--Page content-->
    <div class="container body-content">
        @RenderBody()
    </div>

    <!--Page scripts-->
    @RenderSection("Scripts", required: false)

    <!--Modal scripts-->
    <script type="text/javascript" src="~/js/Prefs.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/Message.js" asp-append-version="true"></script>

    <!--Site footer-->
    <div id="site_navfoot">
        <p>Stax 2018</p>
    </div>
</body>
</html>
