<!--ACTIVITY WIDGET-->

@model STAX.Data.ActivityWidgetData

<div class="widget selected" js-optionVal="0">

    <!--Updates Activity-->
    <p class="title">Latest Updates</p>
    <table class="listTable">
        <thead>
            <tr class="leadRow">
                <th>From</th>
                <th>Spec</th>
                <th>Content</th>
                <th>Changelog</th>
            </tr>
        </thead>
        <tbody>
            @foreach (STAX.Models.SpecUpdateItem thisSpecUpdateItem in Model.allSpecUpdates)
            {
                <tr>
                    <td>
                        @String.Format("{0} {1}",
                            thisSpecUpdateItem.User.FirstName,
                            thisSpecUpdateItem.User.SecondName)
                    </td>
                    <td>@thisSpecUpdateItem.SpecMaster.CrNumber</td>
                    <td>@thisSpecUpdateItem.Content</td>
                    <td>@Html.Raw(thisSpecUpdateItem.ChangeLog)</td>
                </tr>
            }
        </tbody>
    </table>
</div>